<div style="padding: 100px 50px">

    <div class="searchbar">
        <app-search (searchQuery)="searchHeroes($event)" />
        <button mat-fab extended color="primary" [routerLink]="['/hero', null]">
            <mat-icon>add</mat-icon>
            New hero
        </button>
    </div>

    <div class="mat-elevation-z8">
        <app-table [heroesData]="paginateData()" [isLoading]="isLoading" (showDeleteModal)="showDeleteModal($event)"></app-table>

        <mat-paginator [length]="totalHeroes" [pageSize]="paginationData.pageSize" [pageIndex]="paginationData.pageIndex" [pageSizeOptions]="[5, 10, 20]" (page)="changePaginationData($event)">
        </mat-paginator>
    </div>
</div>