<div class="card">
    <form [formGroup]="heroForm" (ngSubmit)="submitForm()">
        <h1>{{heroId || heroId==0 ? 'Update Hero' : 'Create hero'}}</h1>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Real name</mat-label>
            <input matInput formControlName="realName" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Superpower</mat-label>
            <input matInput formControlName="specialPower" />
        </mat-form-field>
        <div>
            <button mat-mini-fab color="accent" [routerLink]="['/home']">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button mat-fab extended color="primary" class="margin-x" [disabled]="!heroForm.valid">
                    <mat-icon>{{heroId || heroId==0 ? 'update' : 'add'}}</mat-icon>
                        {{heroId || heroId==0 ? 'Update hero' : 'Add hero'}}
            </button>
        </div>

    </form>
</div>